---
import '../styles/markdown.css';
const { content } = Astro.props;
---

<html lang={content.lang || 'en'}>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />

		<!-- icon that is displayed inside the tab -->
		<!-- <link rel="icon" href="/H2O_Plot/src/icons/aircraft.svg" type="image/svg+xml" /> -->


		<title>{content.title}</title>
		<style>
			.nav {
				border-bottom: 1px solid #ccc;
				margin-bottom: 40px;
				padding-bottom: 20px;
			}
			.nav > * + * {
				margin-left: 10px;
			}
		</style>
	</head>
	<body>
		<main class="content ">
			<header class ="prose">
				<nav class="nav">
					<a href="/H2O_Plot/">Go Back to Main Page</a>
				</nav>
			</header>
			<slot />
		</main>
	</body>
</html>
